* {
    /* resetting the browser */
    margin: 0;
    padding: 0;
    /* changinm the box-sizing property from content-box to border-box */
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: goldenrod;
}

.menu-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

.container {
    margin: 15px;
    position: relative;
    top: 60px;
}

.bg-blue {
    background-color: blue;
    color: white;
}

.bg-red {
    background-color: red;
    color: white;
}

.bg-pink {
    background-color: pink;
}

/* Responsives */
.row {
    width: 100%;
}

.item {
    background-color: gainsboro;
    position: relative;
    top: 0;
    margin: 15px;
    padding: 10px;
    border: 3px solid #000;
    overflow: hidden;
}

.item p {
    font-size: 100%;
    text-align: justify;
    margin-top: 35px;
    font-weight: 100;
}

.sub-title {
    position: absolute;
    top: 0;
    right: 0;
    cursor: grabbing;
    padding: 6px 20px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.sub-title:hover {
    background-color: black;
    color: white;
}

/* for desktop */
@media (min-width:992px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;

    }

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 74.99%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}



/*for Tablet  */
@media (min-width:768px) and (max-width: 991px) {

    .col-lg-4 {
        width: 50%;
        float: left;
    }

    .col-lg-tablet {
        width: 100%;
        float: left;
    }

}

/* for mobile */
@media (max-width: 767px) {
    .col-lg-4 {
        width: 100%;
        font-size: 100%;

    }
}